body {
    color: #efd;
    background: #453;
    padding: 0 5em;
    margin: 0
}

h1 {
    text-align: center;
    font-family: "Lucida Console", Monospace;
    font-size: 20px;
    padding: 2em 1em;
    background: #675
}

p {
    margin: 1em 0
}

a:link {
    COLOR: #FFFFFF;
}

a:visited {
    COLOR: #000000;
}

a:hover {
    COLOR: #0000CC;
}

a:active {
    COLOR: #00FF00;
}